:root {
    --light: #E0E0E0;
    --dark: #212121;
    --mid: #757575;
    --accent: #0433FF;

    --thick: 4px;
}

body {
    background-color: var(--light);
    color: var(--dark);
}

.v-div {
    border-left: 1px solid var(--dark);
}

    header {
        color: var(--accent);
    }

    .stats {
        border-top: var(--thick) solid var(--dark);
        border-bottom: var(--thick) solid var(--dark);
    }

    .sort {
        border-bottom: 5px solid var(--accent);
    }

        .sort button {
            background-color: var(--dark);
            color: var(--light);

            border-top: none;
            border-right: none;
            border-bottom: 1px solid var(--light);
            border-left: none;
        }

                .l-slant::before,
                .r-slant::after {
                    background-color: var(--dark);
                    border-bottom: 1px solid var(--light);
                }

                .l-slant::before {
                    /* left slant */
                    border-left: 1px solid var(--light);
                }

                .r-slant::after {
                    /* right slant */
                    border-right: 1px solid var(--light);
                }

            .l-slant.view,
            .r-slant.view {
                background-color: var(--accent);
                border-color: var(--accent);
            }

                .l-slant.view::before,
                .r-slant.view::after {
                    background-color: var(--accent);
                    border-right: 1px solid var(--light);
                    border-bottom: 1px solid var(--accent);
                }

    table td {
        border-top: 1px solid black;
    }

    .add {
        border-top: var(--thick) solid var(--dark);
        border-bottom: var(--thick) solid var(--dark);
    }

        .add button,
        .canc-conf button {
            background-color: var(--accent);
            color: var(--light);

            border: none;
        }

.popup {
    background-color: var(--light);
    border: 1px solid var(--dark);
}

.popup.show + .show-filter {
    background-color: var(--dark);
    filter: opacity(0.5);
}

    fieldset {
        border: none;
    }

        legend {
            color: var(--accent);
        }

        .field {
            border-bottom: 1px solid var(--dark);
        }

            input,
            .status-input label {
                background-color: transparent;
                border: none;
                outline: none;
                color: var(--dark);
            }

            label,
            .status-input span {
                color: var(--mid);
            }

            input[type='text']:not(:placeholder-shown):invalid + label,
            .error {
                /* NOT showing placeholder text (full) */
                /* error class */
                color: red;
            }