:root {
    --full-space: 50px;
    --half-space: calc(var(--full-space) / 2);
    --two-space: calc(var(--full-space) * 2);
    --qrt-space: calc(var(--full-space) / 4);
    --small-space: calc(var(--full-space) / 8);

    --pad-filter: 0.2em;
}

html, body {
    height: 100vh;
}

main {
    display: grid;
    grid-template-rows: max-content / 1fr / max-content;
    grid-template-areas: 'title'
                         'content'
                         'del-add';
    
    padding: var(--full-space) var(--half-space);
}

.v-div {
    width: 0px; height: 100%;
}

    header {
        grid-area: title;

        margin-bottom: var(--full-space);
    }

    .content {
        grid-area: content;

        display: flex;
        flex-flow: column;
        align-content: flex-start;
    }

        .stats {
            display: flex;
            justify-content: space-around;
            align-content: center;

            padding: var(--qrt-space) var(--half-space);
            margin-bottom: var(--full-space);
        }

            .stats-box {
                display: flex;
                flex-flow: column;
                justify-items: center;
                align-items: center;

                padding-top: var(--qrt-space);
            }

                .stats-box span {
                    width: max-content;
                }

        .sort {
            display: flex;
            gap: 2rem;

            margin-right: calc(-1 * var(--half-space));
            margin-bottom: var(--half-space);
            margin-left: calc(-1 * var(--half-space));
        }

            .sort button {
                position: relative;

                width: calc(100% / 6);
                padding: var(--pad-filter);
            }

            .r-slant,
            .l-slant {
                position: relative;
            }

                .l-slant::before,
                .r-slant::after {
                    width: calc(1.6em + 2px); height: calc(100% + 1px);
                }

                .l-slant::before {
                    /* left slant */
                    position: absolute;
                    left: calc(-0.8em - 2px); top: 0em;   

                    transform: skew(-45deg);
                    z-index: -2;
                }

                .r-slant::after {
                    /* right slant */
                    position: absolute;
                    left: calc(100% - 1em + 3px); top: 0em;

                    transform: skew(45deg);
                    z-index: -1;
                }

                .l-slant.view::before {
                    z-index: -1;
                }

        table {
            width: 100%;
        }

            caption {
                opacity: 0;
                height: 0px;
            }

            /* table header bottom space */
            table th {
                height: calc(1em + var(--half-space));
            }

            tbody tr {
                height: calc(1em + var(--half-space));
            }

    .del-add {
        grid-area: del-add;

        display: flex;
        justify-content: center;
        align-content: center;

        gap: var(--half-space);
        padding: var(--half-space);
    }

        .del-add button {
            align-self: center;

            padding: var(--qrt-space);
        }

            .del,
            .add,
            .confirm button {
                width: 4em;
            }

        .confirm {
            display: flex;
            flex-flow: column;

            gap: var(--qrt-space);
        }

            .confirm button {
                padding: var(--small-space);
            }