:root {
    --full-space: 50px;
    --half-space: calc(var(--full-space) / 2);
    --two-space: calc(var(--full-space) * 2);
    --qrt-space: calc(var(--full-space) / 4);
}

body {
    min-height: 100vh;
}

main {
    padding: var(--full-space) var(--half-space);
}

/* MAIN MOBILE/TABLET LAYOUT */
@media only screen and (min-width: 1101px) {
    main {
        display: grid;
        grid-template-rows: max-content / 1fr / max content;
        grid-template-areas: 'title'
                             'content'
                             'del-add';
    }
}

    header {
        grid-area: title;

        margin-bottom: var(--full-space);
    }

    .content {
        grid-area: content;

        display: flex;
        flex-flow: column;
    }

        .stats {
            display: flex;
            justify-content: space-around;
            align-content: center;

            margin-bottom: var(--full-space);
        }

        .filter {
            display: flex;
            justify-content: space-around;
            align-content: center;

            margin-bottom: var(--half-space);
        }

        table {
            width: 100%;
        }

            /* table header bottom space */
            table th {
                height: calc(1em + var(--half-space));
            }

            tbody tr {
                height: calc(1em + var(--half-space));
            }

    .del-add {
        grid-area: del-add;

        display: flex;
        justify-content: space-around;
        align-content: center;

        padding: var(--half-space);
    }