:root {
    --full-space: 50px;
    --half-space: calc(var(--full-space) / 2);
    --two-space: calc(var(--full-space) * 2);
    --qrt-space: calc(var(--full-space) / 4);
    --small-space: calc(var(--full-space) / 8);

    --pad-filter: 0.2em;
    
    /*                   view      main padding               header font            header margin   da bordr       add padding                       add btn lines                     add btn padding             add btn margin        main padding (qrt) */
    /*                 |------|-------------------|------------------------------|-------------------|-----|----------------------------|--------------------------------------|----------------------------|----------------------------|-----------------| */
    --height-cont: calc(100vh - var(--full-space) - 1.15rem - var(--main-header) - var(--full-space) - 8px - calc(2 * var(--qrt-space)) - calc(1.15rem + var(--second-header)) - calc(2 * var(--qrt-space)) - calc(2 * var(--qrt-space)) - var(--qrt-space));

    /*                      popup gap             popup padding                  fieldset gap            legend margin                  legend lines                               div gap                                   input line              input bdr     canc-conf padding                canc/conf btn lines              canc/conf btn padding        canc/conf btn margin     */
    /*                |------------------|-----------------------------|-----------------------------|--------------------|--------------------------------------|--------------------------------------------|---------------------------------------|-----|----------------------------|--------------------------------------|----------------------------|---------------------------| */
    --height-pop: calc(var(--half-space) + calc(2 * var(--half-space)) + calc(4 * var(--half-space)) + var(--small-space) + calc(1.15rem + var(--second-header)) + calc(4 * calc(var(--qrt-space) - 2.25rem)) + calc(4 * calc(1.15rem + var(--base))) + 1px + calc(2 * var(--qrt-space)) + calc(1.15rem + var(--second-header)) + calc(2 * var(--qrt-space)) + calc(2 * var(--qrt-space)));
}

html, body {
    height: 100vh;
}

main {
    display: grid;
    grid-template: 'title'    min-content
                   'content'  var(--height-cont)
                   'add'  min-content;
    
    height: 100%;
    padding: var(--full-space) var(--half-space);
}

.v-div {
    width: 0px; height: 100%;
}

    header {
        grid-area: title;

        margin-bottom: var(--full-space);
    }

    .content {
        grid-area: content;

        display: grid;
        grid-template: 'stats'    min-content
                       'sort'     min-content
                       'table'    1fr;
    }

        .stats {
            grid-area: stats;

            display: flex;
            justify-content: space-around;
            align-content: center;

            padding: var(--qrt-space) var(--half-space);
            margin-bottom: var(--full-space);
        }

            .stats-box {
                display: flex;
                flex-flow: column;
                justify-items: center;
                align-items: center;

                padding: var(--qrt-space) 0px;
            }

                .stats-box span {
                    width: max-content;
                }

        .sort {
            grid-area: sort;

            display: flex;
            gap: 2rem;

            margin-right: calc(-1 * var(--half-space));
            margin-bottom: var(--half-space);
            margin-left: calc(-1 * var(--half-space));
        }

            .sort button {
                position: relative;

                width: calc(100% / 6);
                padding: var(--pad-filter);
            }

            .r-slant,
            .l-slant {
                position: relative;
            }

                .l-slant::before,
                .r-slant::after {
                    width: calc(1.6em + 2px); height: calc(100% + 1px);
                }

                .l-slant::before {
                    /* left slant */
                    position: absolute;
                    left: calc(-0.8em - 2px); top: 0em;   

                    transform: skew(-45deg);
                    z-index: -2;
                }

                .r-slant::after {
                    /* right slant */
                    position: absolute;
                    left: calc(100% - 1em + 3px); top: 0em;

                    transform: skew(45deg);
                    z-index: -1;
                }

                .l-slant.view::before {
                    z-index: -1;
                }

        .table {
            grid-area: table;
            overflow: auto;
        }

            table {
                width: 100%;
            }

                caption {
                    opacity: 0;
                    height: 0px;
                }

                /* table header bottom space */
                table th {
                    height: calc(1em + var(--half-space));
                }

                tbody tr {
                    height: calc(1em + var(--half-space));
                }

.popup {
    display: none;
}

.show {
    display: flex;
    flex-flow: column;

    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    gap: var(--half-space);
    padding: var(--half-space);

    height: var(--height-pop);
}

.popup.show {
    z-index: 2;
}

.popup.show + .show-filter {
    position: absolute;
    left: 0px; top: 0px;
    z-index: 1;

    width: 100vw; height: 100vh;

    background-color: var(--dark);
    filter: opacity(0.5);
}

    fieldset {
        display: flex;
        flex-flow: column;
    
        gap: var(--half-space);
        width: clamp(300px, 60vw, 600px);
    }
    
        fieldset div {
            display: flex;
            flex-flow: column;

            gap: var(--qrt-space);
            width: 100%;
        }

            legend {
                margin-bottom: var(--small-space);
            }

            label {
                margin-bottom: -2.25rem;
            }

.add,
.canc-conf {
    grid-area: add;

    display: flex;
    justify-content: center;
    align-content: center;

    gap: var(--half-space);
    padding: var(--qrt-space) var(--half-space);
}

    .add button,
    .canc-conf button {
        align-self: center;

        padding: var(--qrt-space);
        margin: var(--qrt-space) 0px;
        
        width: 4.5em;
    }