:root {
    --full-space: 50px;
    --half-space: calc(var(--full-space) / 2);
    --two-space: calc(var(--full-space) * 2);
}

body {
    min-height: 100vh;
}

main {
    padding: var(--full-space) var(--half-space);
}

/* MOBILE/TABLET LAYOUT */
@media only screen and (min-width: 1101px) {
    main {
        display: grid;
        grid-template-rows: max-content / 1fr / max content;
        grid-template-areas: 'title'
                             'content'
                             'del-add';
    }
}

    header {
        grid-area: title;

        padding-bottom: var(--full-space);
    }

    .content {
        grid-area: content;
    }

        .stats {
            display: flex;
            justify-content: space-around;
            align-content: center;

            padding-bottom: var(--full-space);
        }

        .filter-table {
            display: flex;
            flex-flow: column;

            gap: var(--half-space);
        }

            .filter {
                display: flex;
                justify-content: space-around;
                align-content: center;
            }

            table {
                width: 100%;
            }

    .del-add {
        grid-area: del-add;

        display: flex;
        justify-content: space-around;
        align-content: center;

        padding: var(--half-space);
    }