@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

body {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.9rem;
}

    header,
    .th-col {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
    }

    header {
        font-size: 2.25rem;
    }

    .sort button {
        font-family: 'Poppins', serif;
        font-size: 0.9rem;
    }

        .l-slant::before,
        .r-slant::after,
        .l-slant.view::before,
        .r-slant.view::after {
            content: '';
        }

    .th-col {
        font-size: 1.15rem;
        letter-spacing: 0.05em;
    }

        td,
        th {
            vertical-align: middle;
        }

        tr th:nth-child(1),
        tr th:nth-child(2),
        tr td:nth-child(2) {
            text-align: start;
        }

        tr th:nth-child(3),
        tr td:nth-child(3) {
            text-align: end;
        }

        tr th:nth-child(4),
        tr td:nth-child(4) {
            text-align: center;
        }

    .stats,
    .del-add button,
    .canc-conf button {
        font-family: 'Lora', serif;
        font-size: 1.5rem;
        text-align: center;
    }

legend {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

    label {
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        letter-spacing: 0.05em;
    }

    input,
    input:active,
    input:focus,
    input:focus-visible {
        line-height: 1.5rem;
    }